__pycache__
SWIM/swimnetworks/build
SWIM/swimnetworks/GD_Results
SWIM/swimnetworks/Results
SWIM/swimnetworks/rat_func_plotsrational_neural_network/RationalNets/src/Approximation/Results
rational_neural_network/RationalNets/src/Approximation/Data
